
ul div{
    margin: 8px 0;
}

.banner {
margin-top: 160px;

}

  main {
    width: 90%;
    margin: 0 auto;
}
article {
    margin-bottom: 10px;
    background-color: white;
    padding:15px 0;
}
.article-container {
    display: flex;
    flex-wrap: wrap;
  }

.description-box {
    position: relative;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
  
  .price {
    flex-grow: 0.33;
  }
  
  .discount {
    flex-grow: 0.66;
  }


.description{
    width: 100%;
}


.block {
  display: block;
}

.delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

